.header__lang-link {
    margin: 0;
    margin-right: 18px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
    text-decoration: none;
}

.header__lang-link:nth-last-of-type(1) {
    margin-right: 0;
}

@media screen and (max-width: 520px) {
    .header__lang-link{
        font-size: 18px;
        line-height: 20px;
    }
}