.lead_image {
    margin: 64px 0 0;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .lead_image {
        margin: 56px 0 0;
    }
}

@media screen and (max-width: 720px) {
    .lead_image {
        margin: 40px 0 0;
    }
}